# colcon / ament build artifacts
build/
install/
log/

# Generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

*.pcd
*.pyc
qtcreator-*
*.user

*~

# Emacs
.#*

# ament ignore marker
AMENT_IGNORE
COLCON_IGNORE

*.bag
*.csv
src/peak_ltpa/bags
